@model IEnumerable<Team_Manager.Services.Data.ViewModels.TaskViewModels.TaskViewModel>
@{
    int counter = 1;
}
<div class="container-fluid well">
    <h1 class="fredoka custom-header">My Tasks</h1>

    @foreach (var task in this.Model)
    {
        <div class="panel">
            @Html.ActionLink("Task " + counter, "ShowTask", "TeamTask", new { taskId = task.Id }, new { @class = "success custom-header" })
            Deadline: @task.FinalDate
            From Team: @task.TeamName
            @if (task.IsAccepted)
            {
                <div class="glyphicon glyphicon-ok">Accepted</div>
            }
            else
            {
                @Html.ActionLink("Accept", "AcceptTask", "TeamTask", new {taskId = task.Id}, new {@class = "btn btn-default btn-primary"})
                @Html.ActionLink("Reject", "RejectTask", "TeamTask", new { taskId = task.Id }, new {@class = "btn btn-default, btn-danger" })
            }
        
    </div>


        counter++;
    }
</div>