@model IEnumerable<Team_Manager.Services.Data.ViewModels.TaskViewModels.TaskViewModel>
@{
    int counter = 1;
}
<div class="container-fluid well">
    <h1 class="fredoka custom-header">My Tasks</h1>

    @foreach (var task in this.Model)
    {
        <div class="panel text-container flex-type" id="border">
            @Html.ActionLink("Task " + counter, "ShowTask", "TeamTask", new { taskId = task.Id }, new { @class = "success custom-header" })
            <span class="normal-text">Deadline: @task.FinalDate</span>
            <span class="normal-text">From Team: @task.TeamName</span>
            @if (task.IsAccepted)
            {
                <div class="glyphicon glyphicon-ok">Accepted</div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Accept", "AcceptTask", "TeamTask", new { taskId = task.Id }, new { @class = "btn btn-default btn-primary" })
                    @Html.ActionLink("Reject", "RejectTask", "TeamTask", new { taskId = task.Id }, new { @class = "btn btn-default, btn-danger" })
                </div>
            }
        </div>
        counter++;
    }
</div>