@model Team_Manager.Services.Data.BindindModels.CreateTeamBindModel

<div class="container-fluid well" id="border">
    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                @using (Html.BeginForm("CreateTeam", "Team", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Create Team</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label col-lg-2"})
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "Team Name"})
                                @Html.ValidationSummary()
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-lg-2 control-label">Category</label>
                            <div class="col-lg-10">
                                <select name="category" class="form-control" id="select">
                                    <option value="Sport">Sport</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Technology">Technology</option>
                                    <option value="Finance">Finance</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subcategory" class="col-lg-2 control-label">Subcategory</label>
                            <div class="col-lg-10">
                                <input type="text" name="subcategory" class="form-control" id="subcategory" placeholder="Subcategory">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}