@using Microsoft.AspNet.Identity
@model Team_Manager.Services.Data.ViewModels.TopicWithCommentsViewModel

<div class="container-fluid well">
    <h1 class="text-center">Topic: @this.Model.Title</h1>
    @foreach (var comment in this.Model.Comments)
    {
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>@comment.Author</span>
                        <span>commented on @comment.CreatedOn</span>
                        <div class="panel-body">
                            <div>@comment.Content</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("CreateComment", "Team"))
    {
        @Html.AntiForgeryToken()
        @Ajax.ActionLink("Add Comment",
        "AddComment",
        null,
        new AjaxOptions
        {
            UpdateTargetId = "add-comment",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        },
        new { @class = "btn btn-primary" }
        )
        <input type="hidden" name="AuthorId" value="@User.Identity.GetUserId()" />
        <input type="hidden" name="TopicId" value="@this.Model.Id" />
        <div id="add-comment"></div>
    }
</div>