@model Team_Manager.Services.Data.ViewModels.ShowTeamViewModel


<div class="well container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#name">Team name</a>
                </h4>
            </div>
            <div id="name" class="panel-collapse collapse">
                <div class="panel-body custom-header">@this.Model.BasicTeamInfo.Name</div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#category">Team Category</a>
                </h4>
            </div>
            <div id="category" class="panel-collapse collapse">
                <div class="panel-body custom-header">@this.Model.BasicTeamInfo.Category</div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#subcategory">Team Subcategory</a>
                </h4>
            </div>
            <div id="subcategory" class="panel-collapse collapse">
                <div class="panel-body custom-header">@this.Model.BasicTeamInfo.SubCategory</div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#topics">Topics</a></li>
        <li><a data-toggle="tab" href="#users">Users</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="topics">
            <h3>Topics: </h3>
            <ul class="list-group">
                @foreach (var topic in this.Model.Topics)
                {
                    <li class="list-group-item list-group-item-success">
                        <div class="text-center normal-text">@Html.ActionLink(topic.Title, "ShowTeamTopic", "Team", new {topicId = topic.Id}, null)</div>
                    </li>
                }
            </ul>
            @Html.ActionLink("Create Topic", "CreateTopic", "Team", new {teamId = this.Model.BasicTeamInfo.Id}, new {@class = "btn btn-default btn-primary"})
        </div>
        <div class="tab-pane fade" id="users">
            <h3>Members: </h3>
            <ul class="list-group">
                @foreach (var member in this.Model.TeamMembers)
                {
                    <li class="list-group-item list-group-item-success">
                        <div class="text-center normal-text">
                            @Html.ActionLink(member.UserName, "UserInfo", "User", new {userId = member.Id}, null)
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>